{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <div class="pagebody d-flex justify-content-center">

        <form action="/login" method="post">
            <div class="form-group row mb-3 mx-auto">
                <label for="username" class="col-sm-3 col-form-label text-end" title="First initial Last name">User Name:</label>
                <div class="col-sm-9">
                    <input class="form-control" id="username" autocomplete="off" autofocus name="username" placeholder="Username" title="First initial Last name" type="text" value="{{ username }}">
                </div>
            </div>
            <div class="form-group row mb-3 mx-auto">
                <label for="password" class="col-sm-3 col-form-label text-end">Password:</label>
                <div class="col-sm-9">
                    <input class="form-control w-auto" id="password" autocomplete="off" name="password" placeholder="Password" type="password">
                </div>
            </div>
            <div class="mb-3 form-group text-center">
                <button class="btn btn-primary" type="submit">Log In</button>
            </div>
        </form>
    </div>
    <div class="pagebody d-flex justify-content-center" title="Coming Soon">
        <a href="#" class="disabled">Reset Password</a>
    </div>
{% endblock %}
